<!DOCTYPE html>
<html>
<head>
	<title>LgIn</title>
</head>
<body>
<h1>LogIn here</h1>

<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


<form action="{{ url_for('login') }}" method='post'>
	Email Address:<br>
	<input type="email" name="email"><br>
	password:<br>
	<input type="password" name="password">
	<input type="submit" value="Login">
</form>

<a href="{{ url_for('signup') }}" value=Cancel class="btn btn-info">Sign Up Here</a>

</body>
</html>