<!DOCTYPE html>
<html>
<head>
	<title>starting_5s</title>
</head>
<body>
<h1> My Starting 5 </h1>

<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<div class="container-fluid">
	<div>
		{%for starting_5 in starting_5s %}
			<tr>
				{%for player in starting_5.players%}
					<tr>
						<p>{{player.name}}</p>
					</tr>
				{%endfor%}
			</tr>
		{%endfor%}	
	</div>
</div>
</body>
</html>